@font-face {
    font-family: 'digitalt';
    src: url('../fonts/Digitalt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trueno';
    src: url('../assets/fonts/Trueno.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trueno-bold';
    src: url('../assets/fonts/TruenoExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@keyframes fadeIn {
    0% {
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

body {
    background-color: #121212;
    /* background-image: url("../assets/images/top.png");
    background-size: contain;
    background-position-y: -10vh;
    background-repeat: no-repeat; */
    margin: 0px;
    cursor: url('../assets/images/cursor.png'), auto;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'trueno-bold';
    font-size: 50px;
    color: #6ab454;
    animation: fadeIn 2s ease-in-out;
    text-shadow: 10px 10px 5px #0a0a0a;
}

.title .text {
    text-align: center;
}

.title .text p {
    font-family: 'trueno';
    font-size: 20px;
    color: #fff;
    transform: translateY(-250%);
}


hr {
    border: none;
    height: 5px;
    background-color: #6ab454;
}


.content {
    background-image: url("../assets/images/background\ tile.gif");
}


.info-cards {
    background-color: #0d0d0d25;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 0px;
    color: #fff;
    font-family: 'trueno';
}

.info-card {
    display: flex;
    align-items: center;
    width: 75%;
    text-align: left;
    gap: 20px;
    flex-wrap: wrap;
}

.info-card img {
    width: 500px;
    height: 500px;
    margin-bottom: 0;
    flex-shrink: 0;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.info-card img:hover {
    transform: scale(1.05);
}

.info-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.info-text:hover {
    transform: scale(1.01);
    color: #b8dfad;
}

@media (max-width: 600px) {
    .info-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-text {
        align-items: center;
    }
}