@font-face {
    font-family: 'digitalt';
    src: url('../fonts/Digitalt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trueno';
    src: url('../assets/fonts/Trueno.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trueno-bold';
    src: url('../assets/fonts/TruenoExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

.highlight {
    color: #fff;
    text-decoration: underline;
    text-shadow: none;
    font-family: 'trueno-bold', sans-serif;
    font-size: inherit;

    transition: font-size 0.2s ease-in-out;
}

.highlight:hover {
    font-size: 110%;
}


body {
    margin: 0;
    padding: 0;
    background-color: #2a252d;
    background-image: url(../assets/images/background\ tile.gif);
    background-size: 100px;
}

.message{
    font-family: "trueno", sans-serif;
    color: #6ab454;
    font-size: 500%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0.05em;
    text-shadow: 0px 15px 0px #00000025;
}

h1 {
    margin-bottom: 0;
    line-height: 100%;
}

h2 {
    margin-top: 0;
    line-height: 100%;
    font-size: 250%;
}

.message img {
    width: 10%;
    transform: translateY(15%);
}


p {
    font-family: "trueno", sans-serif;
    color: #6ab454;
    font-size: 200%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 0.05em;
    text-shadow: 0px 5px 0px #00000025;
}

.download {
    font-family: "trueno", sans-serif;
    color: #6ab454;
    font-size: 100%;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 0.05em;
    text-shadow: 0px 5px 0px #00000025;
    text-decoration: none;
}

nav {
    background-color: #27222a;
    padding: 10px;
    margin: 0;
    top: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding-left: 50px;
    display: flex;
    margin-left: 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-family: "trueno", sans-serif;
    display: block;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 100%;

    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

nav a:hover {
    color: #6ab454;
    transform: scale(1.1);
}

nav img {
    width: 10%;
    height: auto;
}